@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Para ir al ejercicio <a href=http://localhost:5178/html/index.html"></a>.</p>
</div>
